<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contacts"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedContact.nama}}</ion-title>
    <ion-buttons slot="primary" *ngIf="userNow !== null">
      <ion-button [routerLink]="['/', 'contacts', 'detail', 'edit', key]">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteAlert(key)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>{{loadedContact.nama}}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>{{loadedContact.phone}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>{{loadedContact.email}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <br>
  <div #map id="map"></div>
</ion-content>
