<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contacts"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <!-- <ion-item>
        <ion-label position="floating">Id</ion-label>
        <ion-input type="text" ngModel name="id"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input type="text" ngModel name="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nomor Telepon</ion-label>
        <ion-input type="text" ngModel name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" ngModel name="email"></ion-input>
      </ion-item>
      <ion-input type="number" ngModel name="lat" value="{{dataLat}}" hidden></ion-input>
      <ion-input type="number" ngModel name="lng" value="{{dataLng}}" hidden></ion-input>
    </ion-list>
    <ion-button type="submit" color="primary" expand="full">Simpan</ion-button>
  </form>
  <div #map id="map"></div>
</ion-content>
