<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="weekly"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pemrograman Mobile Cross-Platform
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>Week 08</h1>
      </ion-label>
    </ion-list-header>
    <ion-item [routerLink]="['/students1']">
      <ion-label>Students1</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/students2']">
      <ion-label>Students2</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/students3']">
      <ion-label>Students3</ion-label>
    </ion-item>
    <br>
    <ion-list-header>
      <ion-label>
        <h1>Week 09</h1>
      </ion-label>
    </ion-list-header>
    <ion-item [routerLink]="['/week9/index']">
      <ion-label>Practice</ion-label>
    </ion-item>
    <br>
    <ion-list-header>
      <ion-label>
        <h1>Week 10</h1>
      </ion-label>
    </ion-list-header>
    <ion-item [routerLink]="['/week10/index']">
      <ion-label>Practice</ion-label>
    </ion-item>
    <br>
    <ion-list-header>
      <ion-label>
        <h1>Week 11</h1>
      </ion-label>
    </ion-list-header>
    <ion-item [routerLink]="['/week11/login']">
      <ion-label>Practice</ion-label>
    </ion-item>
    <br>
    <ion-list-header>
      <ion-label>
        <h1>Week 12</h1>
      </ion-label>
    </ion-list-header>
    <ion-item [routerLink]="['/week12/display-map']">
      <ion-label>Display Map</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/week12/current-loc']">
    <ion-label>Current Location</ion-label></ion-item>
    <ion-item [routerLink]="['/week12/loc-coordinate']">
      <ion-label>Loc Coordinate</ion-label></ion-item>
  </ion-list>
</ion-content>
